################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/Com.Ericmas001/*/obj
/C#/Com.Ericmas001/*/bin
*.suo
*.user
*.~vsdx